# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Logs
*.log

# Java / Maven
**/target/

# Node
**/node_modules/
**/.next/
**/out/
**/coverage/

# Build
**/build/